.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgb(41 142 209);
    border-radius: 25px;
}